<<<<<<< HEAD
/*Alphonse Mboumba
iTiwnna CSS Styles File
Written & Created by Fonzie_X_Project
08/08/17*/

#WeekOneiTiwnna{
  background-color: green;
  color: lightgreen;
}
#weekTwoiTwinna{
  background-color: gold;
  color: #FFFFE0;
}
#weekThreeiTwinna{
  background-color: white;
  color: #696969;
}
#weekFouriTwinna{
  background-color: black;
  color: #C0C0C0;
}
#weekFiveiTwinna{
  background-color: gray;
  color: #DAA520;
}
#weekSixiTwinna{
  background-color: silver;
  color: #FFF8DC;
}
.iTwinna{
  border: 1px solid red;
  box-shadow: -4px 4px yellow;
  text-shadow: 1px -1px red;
  color:#5Fe4b9;
  font-style: oblique;
  text-align: center;
  border-style: solid;
}








































/**/
=======
/*Alphonse Mboumba
iTiwnna CSS Styles File
Written & Created by Fonzie_X_Project
08/08/17*/

#WeekOneiTiwnna{
  background-color: green;
  color: lightgreen;
}
#weekTwoiTwinna{
  background-color: gold;
  color: #FFFFE0;
}
#weekThreeiTwinna{
  background-color: white;
  color: #696969;
}
#weekFouriTwinna{
  background-color: black;
  color: #C0C0C0;
}
#weekFiveiTwinna{
  background-color: gray;
  color: #DAA520;
}
#weekSixiTwinna{
  background-color: silver;
  color: #FFF8DC;
}
.iTwinna{
  border: 1px solid red;
  box-shadow: -4px 4px yellow;
  text-shadow: 1px -1px red;
  color:#5Fe4b9;
  font-style: oblique;
  text-align: center;
  border-style: solid;
}








































/**/
>>>>>>> 309abed7b9bd24f2e4e575c53dbf9739d6c22ff1
