/*Alphonse Mboumba
Alphonse Resume CSS File
08/09/17*/


html,body,header,h1,h2,h3,h4,h5,h6{
  border: 0;
  padding: 0;
  margin: 0;
}
body{
/*border: 1px solid black;*/
/*width: 1470px;
height: 1590px;*/
margin: 50px auto 50px auto;
background-color: #eadebf;
}
/*section{
  border: 1px solid green;
  width: 900px;
  height: 200px;
  margin: 50px auto 0 auto;
}*/
header{
  /*border: 1px solid black;*/
  width: 1500px;
  margin:  40px auto 0 auto;
  padding: 30px;
  background-color: darkred;
}
/*h1,h2,h3,h4{
  border-radius: 2px;
  border: 1px solid black;
  width: 450px;
  margin: 5px auto 0 auto;
  background-color: darkgray;

}*/
h1.first-last-name{
  color: darkred;
  background-color: lightgray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  padding: 10px;
  font-size: 80px;
  text-shadow: 5px 15px #ffaf9c, -5px -15px yellow, -15px 5px green, 15px 5px blue,5px 25px pink, 5px -25px orange, -25px 5px gray, 25px 5px purple;

}
h2.phone-number{
  color: darkred;
  background-color: lightgray;
  margin-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 60px;


}
h3.emial-address{
  color: darkred;
  background-color: lightgray;
  margin-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size:40px;

}
h4.city-state{
  color: darkred;
  background-color: lightgray;
  margin-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 30px;

}
main{
  background-color: darkgray;
  /*border: 1px solid black;*/
  width: 1100px;
  padding: 10px;
  margin: 0 auto 0 auto;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
.about-home-contact-ul-section{
  /*text-align: center;*/
  /*border: 5px solid darkred;*/
  /*width: 900px;*/
  /*padding: 50px;*/
  padding-left: 190px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 30px;
  border-radius: 100px;
  /*padding-top: 10px;*/
  /*padding-right: 20px;*/
  margin: 0 100px 0 auto;
}
section.about-home-contact-section-box{
  /*border: 1px solid black;*/
  text-align: center;
  width: 1200px;
  margin: 15px auto 15px auto;
  padding: 30px;
  background-color: #baedfa;
  border-radius: 30px;


}
li.nav-bar{
  display: inline;
  margin: auto 100px auto 20px;
  background-color: darkgray;
  font-size: 30px;
  /*border: 1px solid black;*/
  padding: 20px;
  border-radius: 15px;

}
a.reference-link-tag{
  color: yellow;
  text-decoration: none;
}
a.nav-bar-link{
  color: green;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: lightgreen;
}
h3.education-section{
  /*border: 1px solid black;*/
  margin: 10px auto 0 20px;
  font-size: 70px;
  color: lightgray;
  text-shadow: -5px 5px darkred;


}

section.education-info-section{
  /*border: 1px solid black;*/
  /*padding: 5px;*/
  margin-top: 5px;
}
ul.display-list{
  display: inline;
}
li.education-section-info-left{
  /*border: 1px solid black;*/
  float: left;
  list-style: none;
  font-size: 25px;
  padding-left: 40px;
}
li.education-section-info-right{
  /*border: 1px solid black;*/
  float: right;
  list-style: none;
  font-size: 25px;
}
li.school-name-city-state{
  /*border: 1px solid black;*/
  display: inline;
  padding-left: 0;

  font-size: 25px;

}
h3.employement-section{
  /*border: 1px solid black;*/
  margin: 10px auto 0 20px;
  font-size: 70px;
  color: lightgray;
  text-shadow: -5px 5px darkred;

}
section.employement-section-info{
  border-top: 5px groove red;
  /*padding: 0;*/
  margin: 10px;
  /*border-style: */
}
li.float-right{
  float: right;
  list-style: none;
  font-size: 40px;
  color: darkred;
  /*margin-top: -100px;*/
  font-style: italic;
}
li.float-left{
  float: left;
  list-style: none;
  font-size: 40px;
  color: darkred;
  /*margin-top: -10px;*/
  font-style: italic;
}
section.job-description{
  /*border: 1px solid black;*/
  margin: 5px;

  padding-left: 40px;
  /*float: left;*/
}
ul.ul-style{
  list-style-type: none;
}
p.job-title-box{
  /*border: 1px solid black;*/
  margin: 70px auto -10px 15px;
  font-size: 30px;
  font-weight: bold;
  width: 400px;
  color: #fadaaa;
}
p.reference-box-info{
  /*border: 1px solid black;*/
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  color: red;
  font-size: 50px;
  padding: 20px;
  margin: 90px auto 0 auto;
  width: 900px;
  height: 100px;
  /*padding-top: 10px;*/
  background-color: darkred;
}
li{
  font-size: 25px;
  color: #43dfba;
}





















.footerBox{
  /*border: 1px solid red;*/
  text-align: center;
  background-color: darkred;
  color: white;
  height: 50px;
  /*width: 100px;*/
  padding: 10px;
  margin: 90px auto 0 auto;
}
li.footer-list-inline{
  display: inline;
  padding: 10px;
}


li.iTwinna{
  border: 1px solid red;
  box-shadow: -4px 4px yellow;
  text-shadow: 1px -1px red;
  color:#5Fe4b9;
  background-color: blue;
  font-style: oblique;
  display: inline;

  /*border-style: solid;*/

}











/*End of code copy rights of 2017 Fonzie*/
